html, body{
    width:100%; 
    height:100%; 
    overflow-x:hidden;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #333333;
    line-height: 22px;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Vars */
:root {
    --light-gray: #CCCCCC;
    --txt-body: #666666;
    --txt-title: #333333;
    --blue: #1C3E9B;
    --orange: #FFB619;
  }

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header_container {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}
.header {
    width: 100%;
    background: #F2F2F2;
}
.header_text {
    font-size: 15px;
    font-weight: 400;
    color: var(--txt-body);
}
.social_icons {
    width: 110px;
    height: 15px;
}

/* Nav */
.nav_container {
    padding: 33px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo {
    display: flex;
}
.logo_container {
    margin-left: 15px;
}
.logo_icon {
    width: 46px;
    height: auto;
}
.logo_title {
    color: var(--txt-title);
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.logo_text {
    font-weight: 400;
    font-size: 14px;
    color: var(--txt-body);
}
.nav_menu img {
    width: 16px;
    height: auto;
    margin-left: 15px;
}
.nav_link {
    margin-right: 30px;
    font-weight: 700;
    font-size: 16px;
    color: var(--txt-title);
    text-transform: uppercase;
    text-decoration: none;
}

/* Intro */
.intro {
    width: 100%;
    background: url(../img/intro_bg.png) no-repeat;
    background-size: cover;
}
.intro_container {
    padding: 130px 20px 130px 60px;
    display: flex;
    align-items: center;
}
.intro_container img {
    width: 448px;
    height: 420px;
}
.intro_content {
    margin-left: 70px;
}
.intro_content button {
    margin-right: 15px;
}
.intro_title {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 20px;
}
.into_text {
    color: var(--light-gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 40px;
}
/* Buttons */
.btn {
    padding: 14px 35px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    background: var(--orange);
    border: solid var(--orange);
    outline: none;
    transition: .2s linear;
}
.btn:hover {
    background: transparent;
    border: solid var(--light-gray);
}
.btn_transparent {
    background: transparent;
    border: solid var(--light-gray);
    transition: .2s linear;
}
.btn_transparent:hover {
    background: var(--orange);
    border: solid var(--orange);
}
.btn_phone {
    background: var(--orange) url(../img/phone.png) no-repeat left;
    background-position: 10px;
    padding-right: 20px;
    pointer-events: none;
}
.btn_center {
    display: block;
    margin: 0 auto;
}

/* Expirience */
.expirience {
    background: url(../img/expirience_bg.png) no-repeat;
    background-size: cover;
}
.expirience_container {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expirience_title {
    font-size: 24px;
    font-weight: 700;
    color: var(--txt-title);
}

/* Сhoice */
.choice {
    padding: 120px 0;
}
.choice_container {
    display: flex;
    position: relative;
}
.choice_border {
    width: 420px;
    height: 420px;
    background: #ffffff;
    border: 3px solid var(--light-gray);
    position: absolute;
    /* padding: 20px 0 0 20px; */
    z-index: 0;
    left: -30px;
    top: -30px;
}
.choice_logo {
    background: var(--light-gray);
    padding: 25px 17px;
    max-height: 420px;
    z-index: 1;
}
.choice_logo_img {
    width: 388px;
    height: 364px;
}
.choice_info {
    margin-left: 70px;
}
.choice_info_titile {
    font-size: 30px;
    color: var(--txt-title);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
}
.choice_info_titile:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--blue);
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 1;
}
.choice_info_text {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: var(--txt-body);
    margin-bottom: 40px;
}
.choice_items {
    display: flex;
    flex-wrap: wrap;
}
.choice_item {
    display: flex;
    max-width: 350px;
}
.choice_item_img {
    background: var(--blue);
    width: 60px;
    height: 60px;
    padding: 13px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice_item_img img {
    width: 35px;
    height: 35px;
}
.choice_item_title {
    font-size: 18px;
    font-weight: 700;
    color: var(--txt-title);
    margin-bottom: 9px;
}
.choice_item_text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--txt-body);
    margin-bottom: 40px;
}

/* Services */
.services {
    background: url(../img/services_bg.png) no-repeat;
    background-size: cover;
    padding: 80px 0;
}
.services_title {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.services_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: -3%;
    z-index: 1;
}
.services_items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 65px;
    justify-content: space-between;
}
.services_item {
    width: 24%;
    height: auto;
    padding: 50px 20px;
    border: 4px solid var(--blue);
    transition: .2s linear;
}
.services_item:hover {
    background: var(--blue);
}
.services_item img {
    display: block;
    margin: 0 auto;
}
.services_item_title {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
.services_item_text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--light-gray);
    text-align: center;
}

/* Projects */
.project {
    padding: 80px 0 140px 0;
    text-align: center;
}
.project button {
    pointer-events: none;
}
.project_title {
    font-size: 30px;
    font-weight: 900;
    color: var(--txt-title);
    text-transform: uppercase;
    margin-bottom: 65px;
    position: relative;
}
.project_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--blue);
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: -3%;
    z-index: 1;
}
.project_link {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 35px;
}
.project_link_item {
    text-decoration: none;
    color: var(--txt-body);
    margin-right: 20px;
}
.project_link_item_active {
    color: var(--orange);
}
.project_items {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 65px;
}
.project_item {
    background: linear-gradient(0deg, rgba(28, 62, 155, 0.8), rgba(28, 62, 155, 0.8));
    transition: .2s linear;
    position: relative;
}
.project_img {
    height: 100%;
}
.project_img img {
    transition: .2s linear;
    display: block;
}
.project_item:hover .project_img img {
    opacity: .2;
}
.project_item:hover .project_item_none {
    display: block;
}
.project_item_none {
    position: absolute;
    margin: auto;
    top: 110px;
    left: 70px;
    display: none;
}
.project_item_none img {
    width: 16px;
    height: auto;
}
.prject_item_title {
    font-size: 20px;
    font-weight: 700;
    color: var(--orange);
    text-align: center;
    margin-bottom: 5px;
}
.project_item_subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--light-gray);
    text-align: center;
    margin-bottom: 17px;
}

/* Help */
.help {
    width: 100%;
    background: url(../img/help_bg.png) no-repeat;
    background-size: cover;
    padding: 176px 0 230px 0;
}
.help_title {
    max-width: 500px;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 45px;
}

/* Registration */
.registration {
    background: url(../img/registration_bg.png) no-repeat;
    background-size: cover;
    padding: 80px 0;
    position: relative;
}
.registration_container {
    display: flex;
    justify-content: space-between;
}
.location_title {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--txt-title);
    position: relative;
    margin-bottom: 78px;
}
.location_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--blue);
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 1;
}
.location_map {
    width: 470px;
    height: 420px;
    background: #E5E5E5;
    border: 4px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_fields {
    width: 640px;
    height: 270px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr;
    grid-column-gap: 18px;
    grid-row-gap: 18px; 
    margin-bottom: 35px;  
}
.span {
    position: absolute;
    right: 5%;
    top: 50%;
    width: 220px;
    text-align: left;
    color: red;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    line-height: 22px;
}
.spanName {
    top: 26%;
}
.spanMail {
    top: 32%;
}
.spanPhone {
    top: 38%;
}
.spanPass {
    top: 44%;
    white-space: normal;
}
.form_field input {
    width: 100%;
    height: 100%;
    padding-left: 22px;
    font-family: 'Lato' sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: var(--txt-body);
    border: none;
}
.form_field input:focus {
    outline: none;
    border: none;
}
.form_field_text {
    grid-column: 1/3;
    grid-row: 3/4;
}
.form_field input:not(:focus):invalid {
    border-color: none;
}
.form_buttons button:hover {
    background: var(--orange);
    border: solid var(--orange);
}

/* Stikers */
.stikers {
    padding: 55px 0;
}
.stiker_container {
    display: flex;
    justify-content: space-around;
}

/* Contacts */
.contacts {
    background: #1A1A1A;
    padding: 60px 0 140px 0;
}
.contacts_container {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}
.contacts_title {
    font-size: 18px;
    font-weight: 700;
    color: var(--light-gray);
    text-transform: uppercase;
    margin-bottom: 32px;
}
.contacts_item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact_img {
    width: 50px;
    height: 50px;
    background: #252525;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_info {
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    margin-left: 15px;
}
.contact_info div {
    font-size: 18px;
    font-weight: 700;
    color: var(--light-gray);
    text-transform: uppercase;
}
.contact_sevices_items {
    display: flex;
    gap: 25px;
}
.contact_sevices_item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact_sevices_item span {
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    margin-left: 10px;
    display: block;
}
.contacts_sale {
    max-height: 220px;
    padding: 50px 90px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #404040;

}
.contacts_sale_title {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light-gray);
    margin-bottom: 10px;
}
.contacts_sale_title span {
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--orange);
    margin: 0 10px;
}
.contacts_sale_subtitle {
    font-size: 18px;
    font-weight: 700;
    color: var(--light-gray);
    margin-bottom: 50px;
}
.contacts_sale_code {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: var(--light-gray);
}
.contacts_sale_code span {
    text-transform: uppercase;
    color: var(--orange);
    margin-left: 1px;
}
/* Footer */
.footer {
    padding: 20px 0;
    background: #0D0D0D;
    text-align: center;
}
.copyright {
    font-size: 15px;
    font-weight: 400;
    color: var(--txt-body);
}
.copyright span {
    color: var(--orange);
    margin: 0 3px;
}

/* Modal */
.modal {
    display: none;
    padding: 0 15px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(6, 15, 49, 0.8);
    overflow-y: scroll;
}
.modal.show {
    display: flex;
}
.modal_dialog {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    background: url(../img/services_bg.png) no-repeat;
    background-size: cover;
}
.modal_img {
    width: 400px;
    height: 400px;
    margin-right: 20px;
}
.modal_close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
}
